.DS_Store
Tech
*.vcd
*.out
Work
*.code-workspace
log.txt
*.gl.v
.vscode/
.lib
.gl.v
.rpt
__pycache__
*.lib
pdk
pdks
timing/
*.pyc
*.rpt
tb_RAM*x*.v
build/
benchmark_build/
__pycache__
*.ext
support/
/c2w
/*.def
*.log
*.cvcrc
*.xz
venv/
products_path