.DS_Store
Tech
*.vcd
*.out
Work
*.code-workspace
log.txt
*.gl.v
.vscode/
.lib
.gl.v
.rpt
__pycache__
*.lib
pdk
timing/
*.pyc
RTL/designs/
RTL/designs/*
*.rpt
RTL/designs/*
tb_RAM*x*.v
build/
__pycache__
*.ext
support/